

header{
    padding-bottom: 1em;
}

footer{
    padding-top: 1em;
}

.error-message {
    color: red;
    font-size: 0.9em;
  }

  input.error, textarea.error {
    border: 2px solid red;
  }

.form-narrow{
    max-width: 32rem;
}

.card {
  min-height: 10em;
}

.card-img-top {
  height: 350px;         
  object-fit: cover;
  width: 100%;
}

.hover-text-warning:hover {
  color: #ffc107 !important; 
}

.hover-btn:hover {
  background-color: #212529 !important;  
  color: #ffc107 !important;             
  border-color: #ffc107 !important;      /* !important overrides the bootstrap styling */
}

.hover-shadow:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4) !important;
  transform: scale(1.02);
  transition: box-shadow 0.6s ease, transform 0.6s ease; 
  /* This makes the box enlarge and adds a shadow, giving the effect of the event box popping out of the page */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffc107' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Scales the main body to better fit devices */
#mainHome{
    min-height: 50%
}
#eventsMain{
    min-height: 50%;
}
#mainContact{
    min-height: 50%;
}
#mainAbout{
    min-height: 50%;
}
#mainThank{
    min-height: 50%;
}

.navbar{
    background-color: #fff;
    height: 80px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 8.3s color;
}
.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler{
    border:none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,btm-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: #000;
}

@media (min-width: 991) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url(communitypic.jpg) no repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before {
    background-color: white;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
}

.hero-section h2{
    font-size: 1.2em;
}

.containerAbout{
    padding-top: 0.333em;
}

.containerAbout h1{
    text-align: center;
    padding: 0.5em;
}