.error-message {
    color: red;
    font-size: 0.9em;
  }

  input.error, textarea.error {
    border: 2px solid red;
  }

.form-narrow{
    max-width: 32rem;
}

.card {
  min-height: 10em;
}

.card-img-top {
  height: 350px;         
  object-fit: cover;
  width: 100%;
}

.hover-text-warning:hover {
  color: #ffc107 !important; 
}

.contact-btn:hover {
  background-color: #212529 !important;  
  color: #ffc107 !important;             
  border-color: #ffc107 !important;      /* !important overrides the bootstrap styling */
}

.hover-shadow:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4) !important;
  transform: scale(1.02);
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  /* This makes the box enlarge and adds a shadow, giving the effect of the event box popping out of the page */
}