.error-message {
    color: red;
    font-size: 0.9em;
  }

  input.error, textarea.error {
    border: 2px solid red;
  }

.form-narrow{
    max-width: 32rem;
}

.card {
  min-height: 400px;
}

.card-img-top {
  height: 350px;         
  object-fit: cover;
  width: 100%;
}

