 
 <%- include('../partials/header') %>

<!--Hero Section-->
    <section class="hero-section">
        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            <h1>Responsive Navbar</h1>
            <h1>Bootstrap 5</h1>

        </div>

    </section>

<!--End Hero Section-->
