 
 <%- include('../partials/header') %>

<style>
   
        .card-container {
            display: flex;
            gap: 150px; 
            padding: 1rem;
            justify-content: center; /* Centers cards horizontally */
            min-height: 50vh; /* Full viewport height to center vertically on page */
            margin: 0 auto; /* Centers container horizontally */
            width: 716px; /* Matches total width of two cards + gap */
           flex-wrap: nowrap; /* Prevents wrapping to keep cards side-by-side */
            
        }

        
        .card {
            width: 100%;
            max-width: 350px; /* Matches image width */
        }

        .welcome-container{
           width: 50%;
           text-align: center;
           margin: 0 auto; /* This centers the container horizontally */
           padding: 20px;
           color: black;
           border-radius: 8px;
             
        }
</style>

<!--Hero Section-->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="welcome-container">
    <h1><%= title %></h1>
    <p><%= welcomeParagraph %></p>
</div>
    
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <img class="placeholder card-img-top placeholder-wave" style="height: 150px; width: 270px;" alt="Placeholder image">
            <div class="card-body placeholder-glow">
                <h1 style="font-size:20px">Upcoming Events</h1>
                <p class="card-text m-0 placeholder col-12"></p>
                <p class="card-text m-0 placeholder col-12"></p>
                <p class="card-text m-0 placeholder bg-primary"></p>
                <p class="card-text m-0 placeholder bg-primary"></p>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <img class="placeholder card-img-top placeholder-wave" style="height: 150px; width: 270px;" alt="Placeholder image">
            <div class="card-body placeholder-glow">
                <h1 style="font-size:20px">Upcoming Events</h1>
                <p class="card-text m-0 placeholder col-12"></p>
                <p class="card-text m-0 placeholder col-12"></p>
                <p class="card-text m-0 placeholder bg-primary"></p>
                <p class="card-text m-0 placeholder bg-primary"></p>
            </div>
        </div>
             
    </div>

<!--End Hero Section-->

<br>
<br>
<br>
<br>

<%- include('../partials/footer') %>